@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Green Gardens</h1>
    <p>You can browse products now!</p>
    <p>Log in to shop now!</p>
    <!-- Submit Button -->
    <div class="form-group">
        <a asp-page="Register"  class="btn btn-primary">Register</a><!-- Takes user to the login page-->
    </div>
</div>

@{
    foreach(var item in Model.products){
    <h1>@item.Name</h1>
    }
}



