@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to green gardens</h1>
    <p>Start shopping here today!</p>
</div>

@{
    foreach(var item in Model.products){
    <h1>@item.Name</h1>
    }
}



