@page
@model GreenGardens.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";

}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))//Only will run if user is admin.
{
    <a asp-page="Create" class="btn btn-primary"> Add Item</a>
}
@if (User.Identity.IsAuthenticated)
{
    <form method="get" asp-page="/Logout">
        <button type="submit" class="btn btn-warning">Logout</button>
    </form>
}

<h2>Products</h2>

<table class="table">
    <thead>
        <tr> //
            <th>Name</th>
            <th>Price</th>
            <th>Description</th> <!--What the user will see-->
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)//layout the table of products
        {
            <tr>
                <td>@product.Name</td> 
                <td>@product.Price</td> 
                <td>@product.Description</td>
                <td>
                    <img src="@product.ImagePath" alt="Product Image" style="width:100px">
                </td>
            </tr>
        }



    </tbody>
</table>

